
<md-content layout-fill id="contentGridster">
    <div gridster="vmGrid.gridsterOptions">
        <ul>
            <li gridster-item="plant"
                ng-repeat="plant in vmGrids.plants track by $index"
                ng-style="{'background': plant.color}">

                <div class="box">
                    <div class="box-header" style="position: absolute;">
                        <!--<h3>{{plant.label}}</h3>-->

                        <div ng-include="'src/components/plants/plantItemMenu/plantItemMenuView.html'"></div>


                        <!--<md-button class="md-icon-button" ng-click="vm.remove(plant)">-->
                            <!--<md-icon md-svg-src="assets/icons/inkoop/ic_delete_white_18px.svg"-->
                                     <!--aria-label="clear board"></md-icon>-->
                        <!--</md-button>-->
                    </div>
                    <div class="box-content">
                        {{plant.col}}
                        {{plant.row}}
                        {{plant.sizeX}}
                        {{plant.sizeY}}
                        <md-icon md-svg-src="{{plant.icon}}.svg"
                                 aria-label="clear board"></md-icon>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</md-content>