<md-menu md-offset="0 45" md-position-mode="target-right target">

    <md-button aria-label="open menu button" class="md-icon-button"
               style="z-index: 9"
               ng-click="vmGrids.openMenu($mdOpenMenu, $event)">
        <md-icon md-svg-icon="assets/icons/ic_menu_white_18px.svg"></md-icon>
    </md-button>

    <md-menu-content>
        <md-menu-item>
            <md-button>
                <!--<md-icon md-font-library="material-icons">done</md-icon>-->
                <span translate>plant.UPDATE</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vmGrids.confirmDelete(plant, $event)">
                <!--<md-icon md-font-library="material-icons">block</md-icon>-->
                <span translate>plant.ARCHIVE</span>
            </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
            <md-button>
                <!--<md-icon md-font-library="material-icons">call_merge</md-icon>-->
                <span>Novo Prskanje</span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button>
                <!--<md-icon md-font-library="material-icons">call_merge</md-icon>-->
                <span>Novo Okopavanje</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>