#contentGridster .box-content md-icon {
    height: 100%;
    width: 100%;
}

.gridster-item .box,
.gridster-item .box-content {
    height: 100%;
}

.handle-n,
.handle-s {
    height: 24px;
}

.handle-e,
.handle-w {
    width: 24px;
}

.handle-se,
.handle-nw,
.handle-sw,
.handle-ne {
    width: 24px;
    height: 24px;
}