
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="sideType">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Novi tip vocke</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="addPlantTypeForm">
            <md-input-container>
                <label for="typeName">Ime tipa</label>
                <input type="text" id="typeName"
                       ng-model="vmPlant.plantType.name" md-autofocus
                       minlength=3 required>
            </md-input-container>
        </form>
        <md-button ng-click="vmPlant.addType()" class="md-primary"
                ng-disabled="addPlantTypeForm.$invalid">
            dodaj
        </md-button>
        <md-button ng-click="vmPlant.closeNav('sideType')" class="md-primary"
                   ng-disabled="addPlantTypeForm.$invalid">
            vrati
        </md-button>
    </md-content>

</md-sidenav>